@font-face {
  font-family: "Bestlovers";
  src: url('fonts/Bestlovers/Bestlovers.eot');
  src: url('fonts/Bestlovers/Bestlovers.eot?#iefix') format('embedded-opentype'),
  url('fonts/Bestlovers/Bestlovers.woff') format('woff'),
  url('fonts/Bestlovers/Bestlovers.ttf') format('truetype'),
  url('fonts/Bestlovers/Bestlovers.svg#webfont') format('svg');
}
@font-face {
  font-family: "Century";
  src: url('../fonts/Century/CenturyGothicRegular.eot');
  src: url('../fonts/Century/CenturyGothicRegular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Century/CenturyGothicRegular.woff') format('woff'),
  url('../fonts/Century/CenturyGothicRegular.ttf') format('truetype'),
  url('../fonts/Century/CenturyGothicRegular.svg#webfont') format('svg');
}
@font-face {
  font-family: "Cocogoose";
  src: url('../fonts/Cocogoose/Cocogoose.eot');
  src: url('../fonts/Cocogoose/Cocogoose.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Cocogoose/Cocogoose.woff') format('woff'),
  url('../fonts/Cocogoose/Cocogoose.ttf') format('truetype'),
  url('../fonts/Cocogoose/Cocogoose.svg#webfont') format('svg');
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
}

.letras-bestlovers {
  font-family: "Bestlovers";
}

.texto-centro {
  text-align: center;
}

.texto-blanco {
  color: #fff;
}
.texto-negro {
  color: #000;
}

.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
  font-size: 20px;
}

.nav-tabs, .nav-pills {
  text-align:center;
}
.seccion-contador {
  padding-top: 50px;
}

.img-5anos {
  position: relative;
  top: 250px;
}

.seccion-convocatoria {
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  /*text-align: center;*/
  background-color: #292c31;
}

.galeria {
  position: relative;
  background-color: red;
}
.abs {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0 !important;
}

#patrocinadores {
  position: relative;
}

/*SECCION COUNTDOWN*/
.content {
  padding: 10px 44px;
  background: #ff8189;
}

.text {
  border-bottom: 1px solid #262626;
  margin-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.text h2 {
  color: #000;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 2px;
}

.counter {
  background: #2C2C2C;
  -moz-box-shadow:    inset 0 0 5px #000000;
  -webkit-box-shadow: inset 0 0 5px #000000;
  box-shadow:         inset 0 0 5px #000000;
  min-height: 150px;
  text-align: center;
}

.counter h3 {
  color: #E5E5E5;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: lighter;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-bottom: 30px;
}

#countdown {
  color: #FFFFFF;
}

#countdown span {
  color: #E5E5E5;
  font-size: 26px;
  font-weight: normal;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
/*---*/

.img-responsive {
  margin: 0 auto;
}

.img-logo {
  position: absolute;
  top: -5px;
}

@media(min-width:767px) {
  .let-logo {
    visibility: hidden;
  }
}

.section {
  height: auto !important;
  padding-top: 50px;
}

#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

#slideContainer {
  width: 400%;
  height: 100vh;
}

.panel {
  height: 100vh;
  width: 25%;
  float: left;
  text-align: center;
}

h1 {
  margin-top: 100px;
  display: inline-block;
}

.one {
  background-color: rgba(0,173,104,0.7);
  color: white;
}

.one button {
  display: block;
  margin: 0 auto;
}

.two {
  background-color: #ff5959;
  color: white;
}

.three {
  background-color: #ff8189;
  color: white;
  position: relative;
}

.four {
  background-color: #4cb2a5;
  color: #FFF;
}

.horizontal-line {
  border-top: 4px solid #FFF;
  height: 4px;
  width: 0px;
  position: absolute;
}

/*FOOTER*/
.footer-redes {
  height: auto;
  background: #FFF;
  color: #FFF;
}
.footer-derechos {
  height: auto;
  background: #333333;
  color: #fff;
}

/*Padding top*/
.pad-top-5 {
  padding-top: 5px;
}
.pad-top-10 {
  padding-top: 10px;
}
.pad-top-15 {
  padding-top: 15px;
}
.pad-top-20 {
  padding-top: 20px;
}

/*Paddint bottom*/
.pad-bot-5 {
  padding-bottom: 5px;
}
.pad-bot-10 {
  padding-bottom: 10px;
}
.pad-bot-15 {
  padding-bottom: 15px;
}
.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0 !important;
}

/*Social link*/
.list-inline {
  padding-left: 0;
  margin-left: -5;
  list-style: none;
}
.list-inline>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px; 
}
.list-social {
  margin-bottom: 0;
}
.list-social>li>a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius:100%;
}
/*.social-twitter {
  background-color: #1da1f2;
  background-color: #FFF;
}
.social-facebook {
  background-color: #3b5998;
}
.social-youtube {
  background-color: #dd4b39;
}
.social-instagram {
  background-color: #ffffff;
  }*/
  .social {
    background-color: #FFF;
  }
  .social>a {
    color: black !important;
  }
  /*---*/

  /*Boton blanco*/
  .btn-blanco { 
    color: #000000; 
    background-color: #FFFFFF; 
    border-color: #FFFFFF; 
  } 
  
  .btn-blanco:hover, 
  .btn-blanco:focus, 
  .btn-blanco:active, 
  .btn-blanco.active, 
  .open .dropdown-toggle.btn-blanco { 
    color: #000000; 
    background-color: #E0DFE3; 
    border-color: #FFFFFF; 
  } 
  
  .btn-blanco:active, 
  .btn-blanco.active, 
  .open .dropdown-toggle.btn-blanco { 
    background-image: none; 
  } 
  
  .btn-blanco.disabled, 
  .btn-blanco[disabled], 
  fieldset[disabled] .btn-blanco, 
  .btn-blanco.disabled:hover, 
  .btn-blanco[disabled]:hover, 
  fieldset[disabled] .btn-blanco:hover, 
  .btn-blanco.disabled:focus, 
  .btn-blanco[disabled]:focus, 
  fieldset[disabled] .btn-blanco:focus, 
  .btn-blanco.disabled:active, 
  .btn-blanco[disabled]:active, 
  fieldset[disabled] .btn-blanco:active, 
  .btn-blanco.disabled.active, 
  .btn-blanco[disabled].active, 
  fieldset[disabled] .btn-blanco.active { 
    background-color: #FFFFFF; 
    border-color: #FFFFFF; 
  } 
  
  .btn-blanco .badge { 
    color: #FFFFFF; 
    background-color: #000000; 
  }
/*---*/